@page
@model EksamenProjekt2Sem.Pages.User.ReadAllUsersModel
@{
    // Have not touched ReadAll, as it takes a lot and I don't want to have to redo it.

}
<h1>Users</h1>

<div>
    <h2>Here goes setup for look of user</h2>
</div>