@page
@model EksamenProjekt2Sem.Pages.Order.ReadAllOrdersModel
@{
    // Have not touched ReadAll, as it takes a lot and I don't want to have to redo it.

}
<h1>Orders</h1>

<div>
    <h2>Here goes setup for look of Order</h2>
</div>